<div class="page-header">
  <h1><span class="label label-default">Добро пожаловать</span>
  	<p><small>Вы находитесь на странице регистрации</small></p>
</h1>
</div>


<%= form_for @user do |u|%>
<div class="panel panel-default">
  <div class="panel-body">
  	<h4>Заполните поля<h4>
  </div>
  	<div class="panel-footer">
		<div class="input-group">
  			<span class="input-group-addon">@</span>
  			<%= u.text_field :login, :class => 'form-control', :placeholder => 'Username'%>
  			<!-- <input type="text" class="form-control" placeholder="Username">  -->
		</div>
	</div>
	<div class="panel-footer">
		<div class="input-group">
		  	<span class="input-group-addon">
		  		<span class="glyphicon glyphicon-lock"></span>
		  	</span>
		  	<%= u.text_field :password, :class => 'form-control ', :placeholder => 'Password'%>
		  	<!-- <input type="text" class="form-control" placeholder="Password">   -->
		</div>
	</div>
</div>
<%= u.submit 'Зарегистрироваться', class: "btn btn-primary senddata"%>
<% end %>
